@charset "utf-8";

.btn{
  -webkit-appearance:none;
  border:none;
  font-size:50px;
}
.btn:hover{/*マウス乗ったとき*/
opacity:0.7;
}
body{
background-color:#D0E0C0;
}

.btn-submit{/*OKボタン*/
background-color:silver;
}

.btn-reset{/*リセットボタン*/
background-color: pink;
}

caption{
  padding:5px;
  /*余白*/
}
#ingredient{
  border:2px solid lightcoral;
border-collapse:collapse;

}


th{
   border:1px solid lightcoral;
   background-color:mistyrose;/*背景色*/
  padding:5px;
  /*余白*/
  width:100px;
  text-align:right;
   
   
   
}

td{
   border:1px solid lightcoral;
   
  padding:5px;
  /*余白*/
  width:80px;
  text-align:right;
   
   
   
}


}
#price{
  background-color:lightyellow;/*背景色*/
}
thead th,tfoot th{
  background-color:white;/*背景色*/
}
thead td{
  color:white;/*文字色*/
  background-color:lightcoral;/*背景色*/
  text-align:center;/*中央寄せ*/
}


tfoot td{
  font-weight:bold;/*文字の太さ*/
  background-color:white;/*背景色*/
}



.photo{
  float:left;
  margin-right:30px;
}
.photo2{
  float:left;
  margin-right:30px;
}
