@charset "utf-8";
/*
.btn{
  -webkit-appearance:none;
  border:none;
  font-size:16px;
}
*/
body{
background-color:#D0E0C0;
}

.btn-submit{/*OKボタン*/
background-color:silver;
}

.btn-reset{/*リセットボタン*/
background-color: pink;
}
